package partials


templ ButtonBox(){
    <div class="join w-full">
      <button class="btn join-item">Button</button>
      <button class="btn join-item">Button</button>
      <button class="btn join-item">Button</button>
    </div>
}