package partials

templ Navbar(username string, title string) {
	<nav class="navbar bg-base-300 fixed top-0 z-10 justify-center">
			<a hx-swap="transition:true" class="btn btn-ghost text-xl" href="/">
                { title }
			</a>
	</nav>
}