package views

import "github.com/HatemTemimi/Raven/raven/views/layout"
import "github.com/HatemTemimi/Raven/raven/views/proxies"

templ Index(proxyList []string) {
   @layout.Base("Raven proxy", "user", false) {
    <div>

    @proxies.ProxyTable(proxyList)

    </div>
   }
}