package views

import "github.com/HatemTemimi/Raven/raven/views/layout"
import "github.com/HatemTemimi/Raven/raven/views/proxies"

templ Index(proxyList []string) {
   @layout.Base("44.proxy", "user", false) {
    <div class="flex flex-col">
       @proxies.ProxyTable(proxyList)
    </div>
   }
}